@charset "utf-8";
/*  */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
/* quick */
.quick-menu {
  position: fixed;
  width: 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 1.5%;
  bottom: 2%;
  z-index: 999999;
  /* background-color: #ddd; */
}
#q-btn {
  width: 100%;
  line-height: 1;
  margin-bottom: 5px;
  animation: floatY 2.5s ease-in-out infinite;
}
#q {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-main);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
@keyframes floatY {
   0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*  */
.bestscene-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}
.best-mainImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.best-mainImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    black 0%,
    transparent 20%,
    transparent 80%,
    black 100%
  );
}
.best-mainImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.best-txt-bg {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0.6) 40%,
    rgba(17, 17, 17, 0.3) 70%,
    rgba(17, 17, 17, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7% 5%;
}

/* txt box */
.best-txt-box {
  width: 78%;
  display: none;
  /* background-color: #fff; */
}
.best-txt-box.show {
  display: block;
}
.best-txt-box h1 {
  font: var(--font-section-title);
}
.best-txt-box h3 {
  font: var(--font-subtitle);
  margin: 2% 0 8% 0;
}
.best-txt-box p {
  font: var(--font-dscr-regular);
}

/* play */
.best-play-box {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: #ddd; */
}
.best-play-box .button-box {
  display: flex;
  gap: 3%;
}
.best-play-box .button-box i {
  font-size: 50px;
  cursor: pointer;
}
.bestactive {
  color: var(--color-main);
}
.play-title {
  font: var(--font-dscr-regular);
}
.play-stick {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}
.play-progress {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  max-width: 100%;
  border-radius: 5px;
  background-color: var(--color-main);
  transition: all 0.1s linear;
}

/* swiper */
.bestScene-slide {
  width: 57.5%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 10%;
}
.bestScene-slide .swiper-slide {
  border-radius: 24px;
  overflow: hidden;
}
.bestScene-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

/* pagenation */
.best-pagenation {
  width: 100%;
  display: flex;
  gap: 2%;
  /* background-color: #ddd; */
  justify-content: center;
  position: absolute;
  padding: 1% 0;
  bottom: 0;
}
.best-pagenation button {
  all: unset;
  cursor: pointer;
}
.best-pagenation button img {
  display: block;
}
.best-pagenation button img:hover {
  filter: brightness(70%);
}

/* screen and dolby */
.screen-wrap {
  width: 100%;
  height: 5000px;
  background-color: #000;
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.screen-title h1 {
  font: var(--font-section-title);
  padding: 200px 0;
}
.screen-iphone {
  width: 100%;
}
#screen-iphone {
  width: 600px;
  margin: auto;
  padding-bottom: 200px;
  filter: brightness(80%);
}
#iphoneScrollImg {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: all 0.3s linear ease;
  transform-origin: center center;
  width: 90%;
  filter: brightness(95%);
  aspect-ratio: 16 /7.5;
  z-index: 9;
  object-fit: cover;
  object-position: center 40%;
}
.screen-cinema {
  margin-top: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.screen-cinema::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    black 0%,
    transparent 20%,
    transparent 80%,
    black 100%
  );
}
#screen-cinema {
  width: 100%;
}
.screen-txt {
  width: 100%;
  height: 550px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  /* display: none; */
  position: relative;
  z-index: 99;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-in-out; /*스크롤이벤트*/
}
.screen-20m-txt {
  margin-top: auto;
}

.screen-txt p {
  font: var(--font-section-title);
  color: #fff;
}
.screen-txt span {
  color: var(--color-main);
}
.screen-txt.scroll {
  opacity: 1;
  transform: translateY(0); /*스크롤이벤트*/
}
/* homespeaker */
.screen-speaker-wrap {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: auto;
  text-align: center;
}
.screen-homes {
  /* background-color: #fff; */
  padding: 200px 0;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-in-out; /*스크롤이벤트*/
  /* background: url(../img/bestscene/homespeaker-bg.png) center / 100% no-repeat; */
}
.screen-homes.scroll {
  opacity: 1;
  transform: translateY(0); /*스크롤이벤트*/
}
.screen-homes h1 {
  font: var(--font-section-title);
  margin-bottom: 200px;
}
.screen-homes-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#homespeaker {
  width: 50%;
  margin: auto;
}
.screen-dolby {
  margin-top: 100px;
  width: 100%;
  position: relative;
}
.screen-dolby::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
  z-index: 10;
}
#dolby {
  position: relative;
  z-index: 9;
  margin: auto;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease-in-out; /*스크롤이벤트*/
}
.screen-dolby-txt {
  margin-bottom: 0;
}
#dolby.scroll {
  opacity: 1;
  transform: translateY(0); /*스크롤이벤트*/
}

/* 반응형 */
@media screen and (max-width: 1600px) {
  /* best */
  .bestscene-wrap {
    height: 60vw;
  }
  .best-txt-bg {
    padding: 7% 4%;
  }
}
@media screen and (max-width: 1370px) {
  /* best */
  .best-txt-box h1 {
    font-size: 48px;
  }
  .best-txt-box h3 {
    font-size: 32px;
  }
  .best-txt-box p {
    font-size: 20px;
  }
  .play-title {
    font-size: 20px;
  }
  .best-play-box .button-box i {
    font-size: 45px;
  }
  #q{
    font-size: 14px;
  }
}
@media screen and (max-width: 1170px) {
  /* best */
  .best-txt-box h1 {
    font-size: 32px;
  }
  .best-txt-box h3 {
    font-size: 26px;
  }
  .best-txt-box p {
    font-size: 16px;
  }
  .play-title {
    font-size: 16px;
  }
  .best-play-box .button-box i {
    font-size: 32px;
  }
  .best-play-box {
    gap: 10px;
  }
  .best-pagenation button img {
    width: 40px;
  }
  .quick-menu{
    width: 5%;
  }
}
@media screen and (max-width: 960px) {
  /* best */
  .best-txt-bg {
    width: 60%;
  }
  /* swiper */
  .bestScene-slide {
    width: 100%;
    height: 40%;
    bottom: -40%;
    left: 0;
  }
  .bestScene-slide .swiper-slide {
    border-radius: 0;
  }
  /* screen */
  .screen-wrap {
    height: 4000px;
    margin-top: 24%;
  }
  .screen-title h1 {
    font-size: 48px;
  }
  #screen-iphone {
    width: 500px;
  }
  .screen-txt {
    height: 350px;
  }
  .screen-txt p {
    font-size: 38px;
  }
  /* speaker */
  .screen-homes h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 900px) {
  /* best */
  .best-txt-bg {
    padding: 7% 4%;
  }
  .best-txt-box h1 {
    font-size: 24px;
  }
  .best-txt-box h3 {
    font-size: 20px;
  }
  .best-txt-box p {
    font-size: 15px;
  }
  .play-title {
    font-size: 15px;
  }
  .best-play-box .button-box i {
    font-size: 28px;
  }
  .best-play-box {
    gap: 6px;
  }
  .best-pagenation button img {
    width: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* best */
  #photo{
    margin-top: 10%;
     scroll-margin-top: 150px;
  }
  .best-txt-bg {
    padding: 7% 4%;
  }
  .best-txt-box h1 {
    font-size: 20px;
  }
  .best-txt-box h3 {
    font-size: 18px;
  }
  .best-txt-box p {
    font-size: 14px;
  }
  .play-title {
    font-size: 14px;
  }
  .best-play-box .button-box i {
    font-size: 24px;
  }
  .best-play-box .button-box {
    gap: 1%;
  }
  .best-pagenation button img {
    width: 30px;
  }
  /* playstick */
  .play-stick {
    height: 8px;
  }
  /* swiper */
  .bestScene-slide {
    height: 35%;
    bottom: -35%;
  }
  /* screen */
  .screen-wrap {
    height: 3000px;
    margin-top: 21%;
  }
  .screen-title h1 {
    font-size: 38px;
    padding: 150px 0;
  }
  #screen-iphone {
    width: 450px;
    padding-bottom: 150px;
  }
  #iphoneScrollImg {
    top: 150px;
  }
  .screen-txt {
    height: 250px;
  }
  .screen-txt p {
    font-size: 30px;
  }
  /* speaker */
  .screen-homes h1 {
    font-size: 38px;
    margin-bottom: 150px;
  }
  .screen-homes {
    padding: 150px 0;
  }
   .quick-menu{
    width: 7%;
  }
}
@media screen and (max-width: 650px) {
  /* best */
  .best-txt-box h1 {
    font-size: 16px;
  }
  .best-txt-box h3 {
    font-size: 14px;
  }
  .best-txt-box p {
    font-size: 12px;
  }
  .play-title {
    font-size: 12px;
  }
  .best-play-box .button-box i {
    font-size: 18px;
  }
  .best-play-box .button-box {
    gap: 1%;
  }
  .best-pagenation button img {
    width: 25px;
  }
  /* playstick */
  .play-stick {
    height: 6px;
  }
  /* screen */
  #screen-iphone {
    width: 300px;
  }
}
@media screen and (max-width: 530px) {
  .bestScene-slide {
    display: none;
  }
  .best-pagenation {
    padding: 2% 0;
  }
  .best-txt-bg {
    background-color: #ddd;
    width: 100%;
    background: transparent;
    position: absolute;
    gap: 24px;
    top: 95%;
  }
  .best-txt-box {
    /* background-color: #ddd; */
    width: 92%;
    z-index: 9;
  }
  .best-play-box {
    width: 95%;
    z-index: 9;
    /* background-color: #ddd; */
  }
  .best-txt-box h3 {
    margin: 1% 0 3% 0;
  }
  .screen-wrap {
    margin-top: 50%;
  }
  .best-mainImg::before {
    background: none;
  }
  .quick-menu{
    width: 9%;
  }
}
@media screen and (max-width: 390px) {
  /* screen */
  .screen-wrap {
    height: 1500px;
  }
  .screen-title h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 120px 0;
  }
  #screen-iphone {
    width: 250px;
    padding-bottom: 120px;
  }
  .screen-txt {
    height: 120px;
  }
  .screen-txt p {
    font-size: 16px;
    font-weight: 500;
  }
  /* speaker */
  .screen-homes h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 120px;
  }
  .screen-homes {
    padding: 120px 0;
  }
  .screen-wrap {
    margin-top: 65%;
  }
  .quick-menu{
    width: 12%;
  }
}
