@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

.cast-wrap {
  padding-bottom: 10%;
}
.card-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 400px;
  margin: auto;
  display: flex;

  gap: 10px;
}

.card-container .card:hover {
  flex: 8;
  z-index: 3;
}

/* cast title */
.cast-title {
  padding: 5%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.card {
  width: 100%;
  /* height: 100%; */
  position: relative;
  flex: 1;
  perspective: 400px;
  transition: flex 0.6s ease, transform 0.6s ease;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 10px;
  transform: none;
  transition: transform 0.6s;
  overflow: hidden;
}

/* 이미지 스타일링 */
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: opacity 0.5s;
}

/* 초기 이미지 (앞면) */
.card-image.front {
  opacity: 1;
  z-index: 2;
  transition: opacity 0.1s ease;
}

/* 호버 시 보여질 이미지 (뒷면) */
.card-image.back {
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.card:hover .card-image.front {
  opacity: 0;
}

.card:hover .card-image.back {
  opacity: 1;
  z-index: 2;
}

.card.expand .card-image.front {
  opacity: 0;
}

.card.expand .card-image.back {
  opacity: 1;
  z-index: 3;
}

.rotate {
  transform: rotateY(0deg);
}

.tablet {
  display: none;
}

.mobile-swiper {
  position: relative;
  display: none;
  margin: auto;
  width: 100%;
  /* max-width: 450px; */
  /* height: 100vw; */
  overflow: hidden;
  border-radius: 30px;
}

.front-swiper {
  width: 100%;
}

.front-swiper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mobile-swiper-back {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.mobile-swiper-back img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-swiper-back img.active {
  opacity: 1;
}
@media screen and (max-width: 1340px) {
  .card-container {
    height: 29.85vw;
  }
}

/* 768px 이하: CAST 카드 2열 */
@media (max-width: 768px) {
  .cast-title  h1{
    font-size: 70px;
  }
  .card-container {
    display: none;
  }
  .cast-wrap {
    height: 900px;
  }
  .tablet {
    display: block;
    height: 100vw;
    /* padding: 10% ; */
  }
  .mobile-card-container {
    width: 80%;
    max-width: 450px;
    /* height: 100%; */
    /* height: 100vh; */
    position: relative;
    display: block;
    margin: auto;
  }

  /* 프론트: 겹치기 위해 absolute */
  .mobil-front {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* 프론트 이미지 크기 설정 */
  .mobil-front img {
    width: calc((100% - 10px) / 2);
    display: block;
  }

  /* 백 이미지 컨테이너 */
  .mobil-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    z-index: 9999;
  }

  /* 백 이미지들 */
  .mobil-back img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    border-radius: 40px;
    overflow: hidden;
  }

  .mobil-back img.active {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .cast-wrap {
    height: 130vw;
    min-height: 700px;
  }
  .tablet {
    display: none;
  }
  .mobile-swiper {
    display: block;
    width: 60%;
    max-width: 400px;
    min-width: 320px;
  }
  .cast-title > h1 {
    font-size: 50px;
  }
}
@media (max-width: 390px) {
  .cast-title > h1 {
    font-size: 40px;
  }
}
