@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.cast-wrap {
  background-color: #111;
  width: 100%;
  min-height: 100vh;
}

/* cast title */
.cast-title {
  padding: 5%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 35px;
}

.cast-img-wrap {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cast-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  /* flex: 1 1 200px; */
  /* width: calc(100% -6% /4); */
  flex: 1;
}

.cast-card:hover .cast-text {
  opacity: 0;
}

/* card hover 할 때 */
.cast-card:hover .img-hover {
  opacity: 1;
}

.cast-card:hover .cast-card {
  width: 100%;
}

.cast-card:hover .cast-img img:not(.img-hover) {
  opacity: 0;
}

.cast-img {
  position: relative;
}

.cast-img img {
  display: block;
  width: 100%;
  height: 380px;
  height: auto;
  /* aspect-ratio: 3/4; */
}

.cast-img .img-hover {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cast-img img:not(.img-hover) {
  transition: opacity 0.5s ease;
}

/* 소개 사진 */

/* cast text */
.cast-text {
  opacity: 1;
  transition: opacity 0.25s ease;
  margin-top: -5px;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  padding: 0 12px;
  text-align: center;
  color: #fff;
}

.cast-text > p {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  line-height: 1.05;
}

.cast-text > span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.05;
  display: block;
  margin-top: 2px;
}
