@charset "urf-8";
/* 흐르는 텍스트 CSS */
#flowSection {
  position: relative;
  height: 960px; /* 원하는 섹션 높이 */
  overflow: hidden;
  background-color: #000000;
}
/* js에서 생성되는 클래스명 */
.flow-text {
  position: absolute;
  white-space: nowrap;
  font-size: 24px;
  /* color: rgba(255, 255, 255, 0.4); */
  color: rgba(255, 255, 255, 0.8);
  animation: rvMoveL 13s linear forwards;
}
@keyframes rvMoveL {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

/* 기대평 입력창 */
.review-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.review-wrap > form {
  display: flex;
  justify-content: center;
}
.review-wrap > form > .reC-input > input {
  width: 800px;
  height: 80px;
  background-color: #cccccc;
  border: none;
  border-radius: 50px;
  padding: 20px 100px 20px 50px;
  font: 400 16px;
}
.reC-input {
  position: relative;
}
.reC-input input {
  color: #111111;
}
/* .reC-input input::placeholder {
  color: #111111;
  font: 400 16px "Poppins", sans-serif;
} */
.reC-input input:focus {
  outline: none;
  box-shadow: 0 0 5px #b78017;
}
#reviewBtn {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
  font-size: clamp(16px, 2vw, 25px);
  color: #b78017;
  cursor: pointer;
}
