@charset "utf-8";
/* 흐르는 텍스트 CSS */
#flowSection {
  width: 100%;
  position: relative;
  height: 100vh; /* 원하는 섹션 높이 */
  overflow: hidden;
  background-color: #000000;
  background: url(../img/review/footer_bg.jpg) center bottom / cover no-repeat;
  /* background-size: 110% auto; */
}
.flowsection-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* js에서 생성되는 클래스명 */
.flow-text {
  position: absolute;
  white-space: nowrap;
  font-size: 24px;
  /* color: rgba(255, 255, 255, 0.4); */
  color: rgba(255, 255, 255, 0.8);
  animation: rvMoveL 13s linear forwards;
}
@keyframes rvMoveL {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

/* 기대평 입력창 */
.review-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.review-wrap > form {
  display: flex;
  justify-content: center;
}
.review-wrap > form > .reC-input > input {
  /* width: 800px; */
  width: 100%;
  height: 80px;
  background-color: #cccccc;
  border: none;
  border-radius: 50px;
  padding: 20px 100px 20px 50px;
  font: 400 16px;
}
.reC-input {
  position: relative;
  width: 50%;
}
.reC-input input {
  color: #111111;
}
.reC-input input::placeholder {
  font-size: 18px;

}
.reC-input input:focus {
  outline: none;
  box-shadow: 0 0 5px #b78017;
}
#reviewBtn {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
  /* font-size: clamp(16px, 2vw, 25px); */
  font-size: 25px;
  color: #b78017;
  cursor: pointer;
}
@media (max-width: 768px) {
  .review-wrap > form > .reC-input > input {
    padding-right: clamp(70px, 3vw, 100px);
  }
  #reviewBtn {
    right: 11%;
  }
  .reC-input {
    width: 60%;
  }
  .review-wrap > form > .reC-input > input {
    height: clamp(48px, 18vw, 80px);
  }
}
